@using HardwareStore.App.Models.Review
@model ReviewInputModel

<form id="reviewForm" method="post">
    <input type="hidden" asp-for="@Model.ProductId" />
    <span asp-validation-for="@Model.Rating"></span>
    <select asp-for="@Model.Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <textarea asp-for="@Model.Content" class="form-control"></textarea>
    <div class="text-danger" asp-validation-summary="All"></div>
    <button class="btn btn-outline-primary" id="submitReviewBtn" type="submit">Submit</button>
</form>