@using HardwareStore.App.Models.Review
@model ReviewInputModel

<form asp-controller="Review" asp-action="CreateReview" method="post">
    <input type="hidden" asp-for="@Model.ProductId" />
    <span asp-validation-for="@Model.Rating"></span>
    <div class="row mb-2">
        <div class="col-md-2 col-sm-12">
            <select asp-for="@Model.Rating" class="form-select">
                <option value="1">1 Star</option>
                <option value="2">2 Stars</option>
                <option value="3">3 Stars</option>
                <option value="4">4 Stars</option>
                <option value="5">5 Stars</option>
            </select>
        </div>
    </div>    
    <textarea asp-for="@Model.Content" class="form-control"></textarea>
    <div class="text-danger" asp-validation-summary="All"></div>
    <button asp-controller="Review" asp-action="CreateReview" class="btn btn-outline-primary" type="submit">Submit</button>
</form>