<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HardwareStore.App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HardwareStore.App.styles.css" asp-append-version="true" />
</head>
<body class="fs-3">
    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-body">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>                
                <partial name="_LoginPartial" />
            </div>

        </nav>
        <div class="container-fluid">
            <div class="row align-items-center my-3">
                <div class="position-relative col-auto col-xl-2">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="text-primary d-xl-none bi bi-list"></i>
                        <span class="d-none d-xl-block">Categories</span>
                    </button>
                    <div class="position-absolute z-3 collapse" id="collapseExample">
                        <ul class="list-group">
                            @await Component.InvokeAsync("CategoryMenu")
                        </ul>
                    </div>                   
                </div>
                <div class="col-10 col-xl-8 position-relative">
                    <form autocomplete="off" method="GET" asp-controller="Catalog" asp-action="Products" asp-route-page="1" class="d-flex me-auto" role="search">
                        <input id="globalSearchbar" class="form-control me-2" placeholder="Search All Products" aria-label="Search" name="s" value="@ViewData["SearchString"]">
                        <button class="btn btn-outline-success" type="submit">
                            <span class="d-none d-xl-block">Search</span>
                            <i class="d-xl-none bi bi-search"></i>
                        </button>
                    </form>
                    <div class="col-10 col-xl-8 position-absolute z-3">
                        <ul class="list-group scale-up-ver-top" id="searchResultBox">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-cart me-auto"></i>
                    <strong class="me-auto">Shopping Cart</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-center">
                    Item:<span class="toast-message text-success"></span>
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HardwareStore.App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let searchBar = document.querySelector('#globalSearchbar');
        searchBar.addEventListener('input', PopulateMatchingProducts);
        searchBar.addEventListener('blur', TurnOffSearchbox);
        searchBar.addEventListener('focus', TurnOnSearchbox);
        async function PopulateMatchingProducts(event) {
            let value = searchBar.value;
            let container = document.querySelector('#searchResultBox');

            if (value.length >= 3) {

                let url = `/SearchProductsPartial?searchstring=${value}`;
                let response = await fetch(url);
                if (response.status == 200) {
                    container.style.display = "block";
                    let result = await response.text();
                    container.innerHTML = "";
                    container.innerHTML = result;
                }
            }
            if (value.length < 3) {
                container.style.display = "none";
                container.innerHTML = "";
            }
        }
        function TurnOffSearchbox() {
            let container = document.querySelector('#searchResultBox');
            container.style.display = "none";
        }
        function TurnOnSearchbox() {
            let container = document.querySelector('#searchResultBox');
            container.style.display = "block";
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>