@using HardwareStore.App.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link link-primary" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link link-primary">Logout</button>
            </form>
        </li>
        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link link-primary" href="/Administration">Administration</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link link-primary" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
