@using HardwareStore.App.Data.Models;
@using Microsoft.AspNetCore.Identity
@using static HardwareStore.App.Constants.Constants
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav justify-content-end align-items-center d-flex flex-row column-gap-2">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a title="My Cart" class="nav-link text-primary" href="/Cart">
                <i class="text-success bi bi-cart-fill"></i>
            </a>
        </li>
        <li class="nav-item">
            <button class="btn btn-primary bg-transparent border-0" type="button" data-bs-toggle="collapse" data-bs-target="#userNav" aria-expanded="false" aria-controls="collapseExample">
                <i class="text-primary bi bi-person-circle"></i>
            </button>
            <div class="collapse" id="userNav">
                <ul class="list-group position-absolute z-3">
                    <li text-color-class="text-light" custom-active class="list-group-item"><a class="dropdown-item" asp-area="" asp-controller="UserProfile" asp-action="UserReviews">My Reviews</a></li>
                    <li text-color-class="text-light" custom-active class="list-group-item"><a class="dropdown-item" asp-area="" asp-controller="Order" asp-action="UserOrders">My Orders</a></li>
                    <li text-color-class="text-light" custom-active class="list-group-item"><a class="dropdown-item" asp-area="" asp-controller="Cart" asp-action="Index">My Cart</a></li>
                    <li text-color-class="text-light" custom-active class="list-group-item"><a class="dropdown-item" asp-area="Identity" asp-controller="Account" asp-action="Manage">Settings</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
                <button type="submit" class="nav-link btn btn-link link-primary">
                    <span class="d-none d-lg-block">Logout</span>
                    <i class="text-danger d-lg-none bi bi-box-arrow-right"></i>
                </button>
            </form>
        </li>
        if (User.IsInRole(Roles.Admin))
        {
            <li class="nav-item">
                <a class="nav-link link-primary" asp-area="Administration" asp-controller="ProductManagment" asp-action="Index">
                    <span class="d-none d-lg-block">Administration</span>
                    <i class="text-warning d-lg-none bi bi-person-badge"></i>
                </a>
            </li>
        }


    }
    else
    {
        <li class="nav-item">
            <a class="nav-link link-primary" asp-area="" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
