@using HardwareStore.App.Data.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {

        <li class="nav-item">
            <a title="My Cart" class="nav-link text-primary" href="/Cart">
                <i class="text-success bi bi-cart-fill"></i>
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="bg-transparent btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="text-primary bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu position-absolute">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </li>
        <li class="nav-item">
            <a class="nav-link link-primary" asp-area="Administration" asp-controller="ProductManagment">
                <span class="d-none d-lg-block">Administration</span>
                <i class="text-warning d-lg-none bi bi-person-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="nav-link btn btn-link link-primary">
                    <span class="d-none d-lg-block">Logout</span>
                    <i class="text-danger d-lg-none bi bi-box-arrow-right"></i>
                </button>
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link link-primary" asp-controller="Account" asp-action="Register">Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-primary" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
