@model double
@{    
    int fullStars = (int)Model;    
    double decimalPart = Model - fullStars;
}
<div class="d-flex align-self-center justify-content-center gap-2" title="@Model">
    @for (int i = 0; i < fullStars; i++)
    {
        <i class="bi bi-star-fill text-warning"></i>
    }
    @if (decimalPart >= 0.5)
    {
        <i class="bi bi-star-half text-warning"></i>
    }
    @for (int i = 0; i < 5 - fullStars - (decimalPart >= 0.5 ? 1 : 0); i++)
    {
        <i class="bi bi-star"></i>
    }
</div>
