<div class="row">
    <div class="col-md-3 col-sm-6 border border-black position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute">
            <a class="text-decoration-none fs-1 text-center" asp-area="Administration" asp-controller="ProductManagment" asp-action="CreateProduct"><p class="p-3 bg-info text-warning bg-opacity-10 border border-info border-start-0 rounded-end">Add New</p></a>
        </div>
        <img src="~/Images/Layout/OIG3.jpg" class="d-block w-100" />
    </div>
    <div class="col-md-3 col-sm-6 border border-black position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute">
            <a class="text-decoration-none fs-1 text-center" asp-area="Administration" asp-controller="ProductManagment" asp-action="CreateProduct"><p class="p-3 bg-info text-warning bg-opacity-10 border border-info border-start-0 rounded-end">Edit</p></a>

        </div>
        <img src="~/Images/Layout/OIG3.jpg" class="d-block w-100" />
    </div>
    <div class="col-md-3 col-sm-6 border border-black position-relative d-flex justify-content-center align-items-center">
        <div class="position-absolute">
            <a class="text-decoration-none fs-1 text-center" asp-area="Administration" asp-controller="ProductManagment" asp-action="CreateProduct"><p class="p-3 bg-info text-warning bg-opacity-10 border border-info border-start-0 rounded-end">Delete</p></a>

        </div>
        <img src="~/Images/Layout/OIG3.jpg" class="d-block w-100" />
    </div>
</div>