@using HardwareStore.App.Models.Cart
@model CartViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row flex-column">
                @foreach (var item in Model.CartProducts)
                {
                    <div class="col d-flex">
                        <div class="col">
                            <div class="product-home-card-image-container">
                                <img src="@item.Image" />
                            </div>
                        </div>
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <p>@item.Name</p>
                                </li>
                                <li class="list-group-item">
                                    <p>@item.Amount</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>