@model ProductExtendedModel
<div class="catalog-product-card">
    <h3 class="text-center catalog-product-title"><a href="#">@this.Model.Name</a></h3>
    <div class="catalog-product-content">
        <div class="catalog-product-img-container">
            <img class="catalog-product-img" src="/@this.Model.ImageUrl" alt="product img">
        </div>
        <ul class="catalog-product-specs list-group">
            @foreach (var item in this.Model.Specifications.DistinctBy(x => x.Name))
            {
                <li class="list-group-item">
                    <span class="fw-bold">@item.Name:</span>
                    <span>@item.Value</span>
                </li>
            }
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-primary">Add</button>
        <button class="btn btn-secondary">Buy</button>
    </div>
</div>