@model List<ProductSimplifiedModel>;
@foreach (var item in Model)
{
    <li class="list-group-item">

        <a href="/ComponentDetail/@item.Id" class="text-decoration-none">
            <div class="row">

                <div class="col-2 d-flex justify-content-center align-items-center" style="height:100px;">
                    <img alt="img" src="@item.Image" class="img-fluid" style="max-height:100px;" />
                </div>
                <div class="col d-flex justify-content-between align-items-center gap-3">
                    <p class="m-0">@item.Name</p>
                    <div class="row justify-content-end">
                        <div class="col">
                            <partial name="_ProductStarRatingPartial" model="@item.ProductReviewsRatingAvg" />
                        </div>
                        <div class="col">
                            <span>@item.Price</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>

}