@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-section-container">
    <p>YOLODSADSADSADSADSADSADSADSA</p>
    <p>YOLODSADSADSADSADSADSADSADSA</p>
    <p>YOLODSADSADSADSADSADSADSADSA</p>
    <p>YOLODSADSADSADSADSADSADSADSA</p>
    <a href="/catalog" class="btn btn-outline-dark">Catalog</a>
</section>
<h3 class="bg-primary text-white text-center">Latest</h3>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-sm-4">
                <div class="product-home-card d-flex flex-column justify-content-between p-1">
                    <div class="product-home-card-image-container">
                        <a href="/ComponentDetail/@item.Id"><img src="@item.Image" /></a>
                    </div>
                    <div class="product-home-card-content">
                        <p class="text-break text-center m-0"><a href="/ComponentDetail/@item.Id">@item.Name</a></p>
                        <div class="input-group">
                            <button class="btn btn-primary ms-auto">Buy</button>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</div>