@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<section class="hero-section-container container-fluid">
    <div class="row">
        <div class="col text-light text-center">
            <p class="h1">Hardware<span>STORE</span></p>
            <a class="fs-1 text" href="/Catalog">Catalog</a>
        </div>
    </div>
</section>
<div class="container-fluid">
    <h3 class="bg-primary text-white text-center">Latest</h3>
    <div class="container">
        <div class="row" id="productLatestRow">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-3">
                    <div class="product-home-card d-flex flex-column justify-content-between p-1">
                        <div class="product-home-card-image-container">
                            <a href="/ComponentDetail/@item.Id"><img src="@item.Image" /></a>
                        </div>
                        <div class="product-home-card-content">
                            <p class="text-break text-center m-0"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/ComponentDetail/@item.Id">@item.Name</a></p>
                            <div class="input-group">
                                <button class="btn btn-primary ms-auto" data-addProductToCart data-productId="@item.Id">Buy</button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>

</div>


@section Scripts {
    <script>
        let productRow = document.querySelector('#productLatestRow');
        productRow.addEventListener('click', AddProductToCart);
        async function AddProductToCart(event) {
            let target = event.target;
            if (target.matches("[data-addProductToCart]")) {

                let Id = Number(target.dataset.productid);

                const formData = new FormData();
                formData.append('productId', Id);

                let url = "/Cart/AddItemToCart";

                let response = await fetch(url, {
                    method: "POST",
                    body: formData
                });

                if (response.ok) {                    
                    let productName = target.closest(".product-home-card-content").querySelector('p').textContent;                    
                    let toast = new bootstrap.Toast('.toast');
                    let toastMessageSpan = document.querySelector('.toast-message');
                    toastMessageSpan.textContent = `${productName} added to cart`;
                    toast.show();
                    let parser = new DOMParser();
                }
            }
        }
    </script>
}