@using HardwareStore.App.Models.Category
@model ICollection<CategoryModel>;

@foreach (var item in Model.OrderBy(x=>x.Name))
{
    <li text-color-class="text-light" custom-active class="list-group-item">
        <a class="d-flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" asp-controller="Catalog" asp-action="Products" asp-route-category="@item.Id" asp-route-page="1">
            <span class="flex-grow-1">@item.Name</span>
        </a>
    </li>
}