@using HardwareStore.App.Models.Category
@model ICollection<CategoryModel>;


<ul class="dropdown-menu">
    @foreach (var item in Model)
    {
        <li text-color-class="text-light" custom-active class="dropdown-item"><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/Catalog/Products/@item.Id">@item.Name</a></li>
    }
</ul>


